/* SET ALL ELEMENTS TO 0 PADDING AND 0 MARGIN AS DEFAULT */
* {
  margin: 0;
  padding: 0;
}

/* ROOT COLOR PROFILE */
:root {
  --white: white;
  --black: black;
  --periwinkle: #9cc1e8;
  --bright-blue: #0288d1;
  --dark-blue: #061c34;
  --blue-black: #04080e;
  --mid-blue: #00364c;
  --gray-background: #ecedee;
  --gray-text: #9a9da0;
  --mid-blue-accent: #06477e;
}

/* SIZING - 1 REM EQUALS 10px */
html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

/* LIGHT AND DARK TOGGLE THEME */

#light {
  background-color: var(--white);
}

#dark {
  background-color: var(--dark-blue);
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
}

h4 {
  font-weight: 600;
  font-size: 2.1rem;
}

#light h4 {
  color: var(--mid-blue-accent);
}

#dark h4 {
  color: var(--periwinkle);
}

p,
label {
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin-top: 3.8rem;
  margin-bottom: 3rem;
  text-align: justify;
  text-justify: inter-word;
}

#light p {
  color: var(--black);
}

#dark p {
  color: var(--white);
}

textarea {
  height: 110px;
}

/* NAVIGATION BARS */

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* small nav */

#light .small-nav {
  background-color: var(--blue-black);
}

#dark .small-nav {
  background-color: var(--mid-blue-accent);
}

.small-nav-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-name {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: flex-start;
  letter-spacing: 0.2rem;
  padding: 1rem 0 1rem 2.5rem;
}

.social-icons {
  color: var(--white);
  height: 18px;
  margin-right: 2rem;
}

#light .social-icons:hover {
  color: var(--periwinkle);
}

#dark .social-icons:hover {
  color: plum;
}

/* large nav */

.logo {
  width: 80px;
  margin: 0.5rem 0 0.5rem 2rem;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#light .navbar {
  background-color: var(--dark-blue);
}

#dark .navbar {
  background-color: var(--blue-black);
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links .nav-item {
  color: var(--white);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  list-style: none;
  padding: 0.8px 20px;
  text-decoration: none;
  transition: 0.6s;
}

#home-nav:hover {
  color: lightskyblue;
}

#about-nav:hover {
  color: plum;
}

#projects-nav:hover {
  color: peru;
}

#blog-nav:hover {
  color: mediumvioletred;
}

#contact-nav:hover {
  color: yellowgreen;
}

#login-nav:hover {
  color: tomato;
}

/* LIGHT/DARK TOGGLE */

.switch {
  margin-right: 2rem;
}

.toggle-text {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-left: 5rem;
  margin-right: 1rem;
  color: var(--white);
}

/* HAMBURGER */

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 25px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: var(--white);
}

/* HERO CONTAINER AND TEXT */

.hero__container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  padding-top: 3rem;
  width: 100%;
}

.hero__text {
  padding-top: 7rem;
  text-align: center;
}

.side-hero-icons {
  display: flex;
  flex: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  padding-top: 7rem;
  width: 20%;
}

.hero-icon {
  align-self: center;
  height: 50px;
}

#light .hero-icon {
  opacity: 0.3;
}

#light .hero-icon:hover {
  opacity: 1;
}

#dark .hero-icon {
  opacity: 0.2;
}

#dark .hero-icon:hover {
  opacity: 0.8;
}

#node,
#git {
  align-self: flex-end;
}

#html,
#css {
  align-self: flex-start;
}

#react {
  height: 57px;
}

#node {
  height: 40px;
}

.my-name-text {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

#light .my-name-text {
  color: var(--mid-blue);
}

#dark .my-name-text {
  color: var(--white);
}

.my-title-text {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

#light .my-title-text {
  color: var(--mid-blue);
}

#dark .my-title-text {
  color: var(--white);
}

/* BUTTONS */

button {
  font-size: 1.3rem;
  font-weight: 500;
}

/* hero button on hero banner */

.hero-button {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--periwinkle);
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 3.8rem;
  padding: 1.4rem 4rem;
  transition: 0.3s;
  -webkit-animation: bounce 2s infinite alternate;
  -moz-animation: bounce 2s infinite alternate;
  animation: bounce 2s infinite alternate;
}
@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.1);
  }
}

#light .hero-button {
  background-color: var(--dark-blue);
}

.hero-button:hover {
  color: tomato;
}

#dark .hero-button {
  background-color: var(--blue-black);
}

/* about section buttons */

.resume-button,
.med-blue-button,
.dark-blue-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-right: 1.5rem;
  padding: 1.3rem 3.5rem;
  width: 115px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.resume-button:hover,
.med-blue-button:hover,
.dark-blue-button:hover {
  color: tomato;
}

.resume-button {
  background-color: #1a78c8;
}

.med-blue-button {
  background-color: var(--mid-blue-accent);
}

#light .dark-blue-button {
  background-color: var(--dark-blue);
}

#dark .dark-blue-button {
  background-color: #040a60;
}

.button-icon {
  color: white;
  height: 20px;
}

/* contact section buttons */

.submit-button {
  background-color: var(--mid-blue-accent);
  border: none;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  padding: 1.1rem 0;
  width: 30%;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: var(--blue-black);
  color: tomato;
}

#light .section-title {
  color: var(--mid-blue-accent);
}

#dark .section-title {
  color: var(--periwinkle);
}

/* ABOUT ME SECTION */

.about__section {
  margin: 0 auto;
  position: relative;
  width: 65%;
}

.about__container {
  display: flex;
  padding: 6rem 0;
}

.sm-section-header {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

#light .sm-section-header {
  color: var(--gray-text);
}

#dark .sm-section-header {
  color: var(--white);
}

.profile__image {
  align-self: center;
  margin-right: 6rem;
}

.about-paragraph {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.button-banner {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

/* PROJECTS SECTION */

.projects__section {
  width: 65%;
  margin: 0 auto;
  padding-top: 7rem;
}

.project__card {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 7rem;
}

.project__preview {
  width: 50%;
  margin-bottom: 5rem;
}

.project__desc {
  padding-left: 4rem;
  width: 50%;
}

.stack-text {
  color: mediumvioletred;
  font-size: 1.8rem;
  font-weight: 700;
}

.stack-para {
  margin-top: 1.8rem;
}

.project-desc-para {
  margin-top: 1.8rem;
}

.project__image {
  width: 100%;
}

.projects-map {
  margin-top: 6rem;
}

/* CONTACT ME AND FORM */

#light .contact__section {
  background-color: var(--gray-background);
}

.contact__container {
  width: 65%;
  margin: 5rem auto 0;
  padding: 6rem 0 7rem;
}

.form-container {
  background-color: white;
  border-radius: 8px;
  margin: 0 auto;
  padding: 4rem 5rem 4rem;
  width: 70%;
}

.form-flex {
  margin: 5rem auto;
}

#dark .contact-detail-text {
  color: var(--white);
}

.contact__container,
.contact__container:before,
.contact__container:after {
  box-sizing: border-box;
}

.contact-icon {
  height: 20px;
  margin: 2rem 1.5rem 0 0;
}

.checkbox-container {
  text-align: center;
}

.contact-check {
  color: var(--mid-blue-accent);
  height: 40px;
  margin-top: 2rem;
}

#light .contact-icon {
  color: var(--mid-blue-accent);
}

.input-control {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

#nameEntry,
#emailEntry,
#messageEntry {
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 1.8rem;
  padding: 1rem;
  width: 100%;
}

.submission-text {
  color: var(--black);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

#dark .submission-text {
  color: var(--black);
}

/* FOOTER SECTION */

#light footer {
  background-color: var(--dark-blue);
}

#dark footer {
  background-color: var(--blue-black);
}

.footer__section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 3rem;
}

.footer__section ul {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  list-style: none;
  padding: 0.8px 20px;
}

.footer-link {
  color: var(--white);
  display: block;
  text-decoration: none;
  transition: 0.5s;
}

.footer-social-icons {
  color: var(--white);
  height: 22px;
  margin-right: 2rem;
}

#light .footer-social-icons:hover {
  color: var(--periwinkle);
}

#dark .footer-social-icons:hover {
  color: plum;
}

/* LOGIN PAGE */

.login-section,
.blog-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 8rem;
}

.page-header-title {
  color: var(--mid-blue-accent);
  font-size: 3rem;
  text-align: center;
  margin: 5rem auto 3rem;
}

.login-container {
  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 35%;
  margin: 0 auto;
  padding: 6rem 8rem;
}

#username,
#password {
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 1.8rem;
  padding: 1rem;
  width: 100%;
}

/* ERROR PAGE */

.error-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 8rem;
}

.error-text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5rem auto 0;
}

.error-header-title {
  color: var(--white);
  text-align: center;
}

.error-text {
  color: var(--white);
  font-size: 2.2rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 0;
}

.error-link {
  color: var(--periwinkle);
  cursor: pointer;
  font-size: 3rem;
  font-weight: 600;
  line-height: 2;
  margin: 0 auto;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1870px) {
  .my-name-text {
    font-size: 6.5rem;
  }

  .hero-icon {
    height: 80px;
  }

  #node {
    height: 72px;
  }

  #react {
    height: 85px;
  }

  .hero-button {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 1345px) {
  .about__container {
    display: block;
  }

  .profile__image {
    border-radius: 110%;
    width: 220px;
    height: 220px;
    object-fit: cover;
    display: block;
    margin: 0 auto 3rem;
  }

  .sarahpic__container {
    width: 100%;
  }

  .resume-button,
  .med-blue-button,
  .dark-blue-button {
    display: block;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 951px) {
  .projects-map {
    display: block;
  }

  .project__card {
    display: block;
  }

  .project__image {
    height: 300px;
    width: 420px;
  }

  .project__desc {
    padding: 0;
    margin-top: 2rem;
    width: 100%;
  }

  .project__preview {
    width: 100%;
  }

  .sm-section-header {
    font-size: 2rem;
  }

  .submit-button {
    width: 50%;
  }

  .project-desc-para {
    font-size: 1.7rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 850px) {
  .nav-item {
    opacity: 0;
  }

  .nav-links {
    display: none;
  }

  .switch {
    opacity: 0;
  }

  .hero__container {
    margin-bottom: 0;
    padding-top: 0;
  }

  .project__image {
    height: 280px;
    width: 400px;
    margin-top: 0;
  }

  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 690px) {
  .hero__container {
    padding-bottom: 0;
  }

  .my-name-text {
    font-size: 5rem;
  }

  .my-title-text {
    font-size: 4rem;
  }

  .footer__section ul {
    display: none;
  }

  .footer__section a img {
    display: none;
  }

  .submit-button {
    width: 50%;
  }
}

@media only screen and (max-width: 565px) {
  p {
    text-align: left;
  }

  .my-name-text {
    font-size: 5.5rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
  }

  .my-title-text {
    font-size: 4rem;
    margin: 0;
    padding-bottom: 2rem;
  }

  .hero-icon {
    display: none;
  }

  .profile__image {
    border-radius: 90%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    margin: 0 auto 3rem;
  }

  .project__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 410px) {
  .profile__image {
    border-radius: 90%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    margin: 0 auto 3rem;
  }

  .sarahpic__container {
    margin-top: 2rem;
  }

  .submit-button {
    width: 100%;
  }

  .form-container {
    width: 100%;
    padding: 3rem 1rem;
  }

  .form-flex {
    width: 90%;
  }
}
