/* SET ALL ELEMENTS TO 0 PADDING AND 0 MARGIN AS DEFAULT */
* {
  margin: 0;
  padding: 0;
}

/* ROOT COLOR PROFILE */
:root {
  --white: white;
  --black: black;
  --periwinkle: #9cc1e8;
  --bright-blue: #0288d1;
  --dark-blue: #061c34;
  --blue-black: #04080e;
  --mid-blue: #00364c;
  --gray-background: #ecedee;
  --gray-text: #9a9da0;
  --mid-blue-accent: #06477e;
}

/* SIZING - 1 REM EQUALS 10px */
html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

/* Custom Scrollbar */

html::-webkit-scrollbar {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--periwinkle);
  border-radius: 100px;
}

/* LIGHT AND DARK TOGGLE THEME */

#light {
  background-color: var(--white);
}

#dark {
  background-color: var(--dark-blue);
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
}

h4 {
  font-weight: 600;
  font-size: 2.1rem;
}

#light h4 {
  color: var(--mid-blue-accent);
}

#dark h4 {
  color: var(--periwinkle);
}

p,
label {
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin-top: 3.8rem;
  margin-bottom: 3rem;
  text-align: justify;
  text-justify: inter-word;
}

#light p {
  color: var(--black);
}

#dark p {
  color: var(--white);
}

textarea {
  height: 110px;
}

/* NAVIGATION BARS */

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* small nav */

#light .small-nav {
  background-color: var(--bright-blue);
}

#dark .small-nav {
  background-color: var(--mid-blue-accent);
}

.small-nav-items {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0.7rem;
}

.social-icons {
  color: var(--white);
  height: 18px;
  margin-right: 2rem;
  transition: 0.4s;
}

#light .social-icons:hover {
  color: var(--periwinkle);
}

#dark .social-icons:hover {
  color: plum;
}

/* large nav */

.logo {
  cursor: pointer;
  width: 80px;
  margin: 0.5rem 0 0.5rem 2rem;
}

.logo:hover {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#light .navbar {
  background-color: var(--blue-black);
}

#dark .navbar {
  background-color: var(--blue-black);
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links .nav-item {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  list-style: none;
  padding: 0.8px 20px;
  text-decoration: none;
  transition: 0.6s;
}

#home-nav:hover {
  color: lightskyblue;
}

#about-nav:hover {
  color: plum;
}

#projects-nav:hover {
  color: peru;
}

#blog-nav:hover {
  color: mediumvioletred;
}

#contact-nav:hover {
  color: yellowgreen;
}

#login-nav:hover {
  color: tomato;
}

.hamburger-button {
  border: none;
  cursor: pointer;
  margin-right: 2rem;
}

.hamburger-icon {
  background-color: var(--blue-black);
  border: none;
  color: var(--white);
  height: 30px;
}

/* LIGHT/DARK TOGGLE */

.color-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 4rem;
}

.toggle-text {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--white);
  margin-right: 1rem;
}

/* HAMBURGER */

.hamburger-button {
  display: none;
}

/* HERO CONTAINER AND TEXT */

.hero__container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 3rem;
  width: 100%;
}

.hero__text {
  margin-left: 3rem;
  padding-top: 7rem;
  text-align: left;
  width: 30%;
  max-height: 40%;
}

.hello-text {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.my-name-text {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.my-title-text {
  font-size: 4.3rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

#light .my-name-text,
#light .my-title-text,
#light .hello-text {
  color: var(--blue-black);
}

#dark .my-name-text,
.my-title-text,
.hello-text {
  color: var(--white);
}

.hero-image-container {
  width: 40%;
}

/* hero clouds */

.html-cloud,
.css-cloud,
.js-cloud,
.node-cloud,
.react-cloud,
.git-cloud {
  opacity: 0.7;
}

.html-cloud {
  width: 150px;
}

.css-cloud {
  width: 130px;
}

.git-cloud {
  width: 130px;
}

.js-cloud {
  width: 300px;
}

.node-cloud {
  width: 240px;
}

.react-cloud {
  width: 210px;
}

/* BUTTONS */

button {
  font-size: 1.3rem;
  font-weight: 500;
}

/* hero button on hero banner */

.hero-button {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--white);
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 2.7rem;
  padding: 1.2rem 3rem;
  transition: 0.6s;
}

#light .hero-button {
  background-color: var(--dark-blue);
}

#dark .hero-button {
  background-color: var(--blue-black);
}

.hero-button:hover {
  color: tomato;
}

.hero-button:hover .button-icon {
  color: tomato;
  animation: bounce 1s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.3);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.3);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.3);
  }
}

/* about section buttons */

.resume-button,
.med-blue-button,
.dark-blue-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-right: 1.5rem;
  padding: 1.2rem 3.5rem;
  width: 128px;
  text-align: center;
  text-decoration: none;
  transition: 0.6s;
}

.button-icon {
  height: 18px;
  width: 18px;
  margin-right: 1.3rem;
  transition: 0.5s;
  vertical-align: bottom;
}

.resume-button {
  background-color: #1a78c8;
}

.resume-button:hover,
.resume-button:focus {
  box-shadow: inset 0 -3.8em 0 0 plum;
}

.resume-button:hover .button-icon,
.med-blue-button:hover .button-icon,
.dark-blue-button:hover .button-icon {
  animation: tilt 0.25s infinite;
}

.med-blue-button {
  background-color: var(--mid-blue-accent);
}

.med-blue-button:hover,
.med-blue-button:focus {
  box-shadow: inset 0 -3.8em 0 0 mediumvioletred;
}

#light .dark-blue-button {
  background-color: var(--dark-blue);
}

#dark .dark-blue-button {
  background-color: #040a60;
}

.dark-blue-button:hover,
.dark-blue-button:focus {
  box-shadow: inset 0 -3.8em 0 0 purple;
}

.button-icon {
  color: white;
  height: 20px;
}

/* contact section buttons */

#form .dark-blue-button {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 4rem;
  width: 180px;
}

#light .section-title {
  color: var(--mid-blue-accent);
}

#dark .section-title {
  color: var(--periwinkle);
}

/* ABOUT ME SECTION */

.about__section {
  margin: 0 auto;
  position: relative;
  width: 65%;
}

.about__container {
  display: flex;
  padding: 6rem 0;
}

.sm-section-header {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

#light .sm-section-header {
  color: var(--gray-text);
}

#dark .sm-section-header {
  color: var(--white);
}

.profile__image {
  align-self: center;
  margin-right: 6rem;
}

.about-paragraph {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.button-banner {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

/* SKILLS SECTION */

.skills-background {
  background-color: var(--mid-blue-accent);
  margin: 4rem 0 4rem;
  padding-bottom: 7rem;
  padding-top: 5rem;
}

.skill-icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  overflow: hidden;
}

.sm-skills-header {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

hr {
  background-color: var(--white);
  width: 10%;
  margin: 0 auto 4rem;
}

.skill-logo {
  cursor: pointer;
  height: 50px;
}

.skill-logo:hover {
  animation: tilt 0.25s infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* PROJECTS SECTION */

.projects__section {
  width: 65%;
  margin: 0 auto;
  padding-top: 7rem;
}

.project__card {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 7rem;
}

.project__preview {
  width: 50%;
  margin-bottom: 5rem;
}

.project__desc {
  padding-left: 4rem;
  width: 50%;
}

.stack-text {
  color: mediumvioletred;
  font-size: 1.8rem;
  font-weight: 700;
}

.stack-para {
  margin-top: 1.8rem;
}

.project-desc-para {
  margin-top: 1.8rem;
}

.project__image {
  width: 100%;
}

.projects-map {
  margin-top: 6rem;
}

/* CONTACT ME AND FORM */

#light .contact__section {
  background-color: var(--gray-background);
}

.contact__container {
  width: 65%;
  margin: 5rem auto 0;
  padding: 6rem 0 7rem;
}

.form-container {
  background-color: var(--mid-blue-accent);
  display: flex;
  margin: 0 auto;
  width: 100%;
}

#form {
  background-color: white;
  margin-left: o;
  padding: 2rem 5rem 4rem;
  width: 85%;
}

.form-flex {
  margin: 5rem auto;
}

.error-message {
  color: tomato;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
}

#light .error-message {
  color: tomato;
}

#dark .error-message {
  color: tomato;
}

#dark .contact-detail-text {
  color: var(--white);
}

.contact__container,
.contact__container:before,
.contact__container:after {
  box-sizing: border-box;
}

.checkbox-container {
  text-align: center;
}

.contact-check {
  color: var(--mid-blue-accent);
  height: 40px;
  margin-top: 2rem;
}

#light .contact-icon {
  color: var(--mid-blue-accent);
}

.input-control {
  margin-bottom: 0.5rem;
}

#nameEntry,
#emailEntry,
#messageEntry {
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 1.8rem;
  padding: 1rem;
  width: 100%;
}

.input-label {
  display: inline-block;
  margin-bottom: 1rem;
}

.submission-text {
  color: var(--black);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

#dark .submission-text {
  color: var(--black);
}

.contact-socials {
  margin: 0 auto;
}

.contact-socials a {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.contact-social-links {
  color: var(--white);
  height: 22px;
  margin-top: 20px;
  padding: 0 1rem;
}

/* FOOTER SECTION */

footer {
  background-color: var(--blue-black);
}

.footer__section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.footer__section ul {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  list-style: none;
  padding: 0.8px 20px;
}

.footer-link {
  color: var(--white);
  display: block;
  text-decoration: none;
  transition: 0.5s;
}

.footer-social-icons {
  color: var(--white);
  height: 22px;
  margin-right: 2rem;
}

#light .footer-social-icons:hover {
  color: var(--periwinkle);
}

#dark .footer-social-icons:hover {
  color: plum;
}

/* LOGIN PAGE */

.login-section,
.blog-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
}

.page-header-title {
  color: var(--mid-blue-accent);
  font-size: 3rem;
  text-align: center;
  margin: 5rem auto 3rem;
}

.login-container {
  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 35%;
  margin: 0 auto;
  padding: 6rem 8rem;
}

#username,
#password {
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 1.8rem;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

/* ERROR PAGE */

.error-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 8rem;
}

.error-text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5rem auto 0;
}

.error-header-title {
  color: var(--white);
  font-size: 4rem;
  line-height: 1.5;
  text-align: center;
}

.error-text {
  color: var(--white);
  font-size: 2.2rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 0;
}

.error-link {
  color: var(--white);
  cursor: pointer;
  font-size: 3rem;
  font-weight: 600;
  line-height: 2;
  margin: 0 auto;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1870px) {
  .my-name-text {
    font-size: 6.5rem;
  }

  .hero-icon {
    height: 80px;
  }

  #node {
    height: 72px;
  }

  #react {
    height: 85px;
  }

  .hero-button {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 1380px) {
  .hero__text {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 1360px) {
  .html-cloud {
    width: 160px;
  }

  .js-cloud {
    width: 200px;
  }
}

@media only screen and (max-width: 1345px) {
  .about__container {
    display: block;
  }

  .profile__image {
    border-radius: 110%;
    width: 220px;
    height: 220px;
    object-fit: cover;
    display: block;
    margin: 0 auto 3rem;
  }

  .sarahpic__container {
    width: 100%;
  }

  .resume-button,
  .med-blue-button,
  .dark-blue-button {
    display: block;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1284px) {
  hr {
    width: 15%;
  }

  .hero__container {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 1180px) {
  .hero-image-container {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 1100px) {
  .js-cloud {
    width: 160px;
  }

  .node-cloud {
    width: 200px;
  }
}

@media only screen and (max-width: 951px) {
  .projects-map {
    display: block;
  }

  .project__card {
    display: block;
  }

  .project__image {
    height: 300px;
    width: 420px;
  }

  .project__desc {
    padding: 0;
    margin-top: 2rem;
    width: 100%;
  }

  .project__preview {
    width: 100%;
  }

  .sm-section-header {
    font-size: 2rem;
  }

  .submit-button {
    width: 50%;
  }

  .project-desc-para {
    font-size: 1.7rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .js-cloud {
    width: 170px;
  }

  .node-cloud {
    width: 160px;
  }
}

@media only screen and (max-width: 850px) {
  .nav-links {
    display: none;
  }

  #hamburger-links {
    position: absolute;
    top: 118px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto;
    padding-top: 4rem;
    padding-bottom: 3rem;
    height: auto;
    width: 100%;
  }

  #light #hamburger-links {
    background-color: var(--blue-black);
  }

  #dark #hamburger-links {
    background-color: var(--blue-black);
  }

  #hamburger-links .nav-item {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .hamburger-button {
    display: flex;
  }

  .hero__container {
    margin-bottom: 0;
    padding-top: 0;
  }

  .js-cloud {
    width: 160px;
  }

  .react-cloud {
    width: 160px;
  }

  .project__image {
    height: 280px;
    width: 400px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px) {
  .js-cloud {
    width: 120px;
  }

  .node-cloud {
    width: 160px;
  }

  .hero__text {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 788px) {
  .skill-icons-container {
    padding: 0 2rem;
  }

  .skill-logo {
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 725px) {
  .react-cloud {
    width: 100px;
  }

  .hero__text {
    margin-right: 7rem;
  }
}

@media only screen and (max-width: 690px) {
  .hero__container {
    padding-bottom: 0;
  }

  .my-name-text {
    font-size: 5rem;
  }

  .my-title-text {
    font-size: 4rem;
  }

  hr {
    width: 30%;
  }

  .footer__section ul {
    display: none;
  }

  .footer__section a img {
    display: none;
  }

  .submit-button {
    width: 50%;
  }

  .error-container {
    padding-top: 5rem;
  }

  .error-text-container {
    margin-top: 5rem;
    margin-bottom: 0;
    width: 80%;
  }
}

@media only screen and (max-width: 625px) {
  .hero-image-container {
    display: none;
  }

  .hero__text {
    padding-top: 1rem;
    text-align: center;
    width: 80%;
    margin: 5rem 0 0;
  }

  .my-title-text {
    font-size: 3rem;
    margin: 0;
    padding-bottom: 2rem;
  }

  .hero-button {
    width: 200px;
  }
}

@media only screen and (max-width: 565px) {
  p {
    text-align: left;
  }

  .hero-icon {
    display: none;
  }

  .profile__image {
    border-radius: 90%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    margin: 0 auto 3rem;
  }

  .project__image {
    width: 100%;
    height: auto;
  }

  .form-container {
    background-color: transparent;
  }

  #form {
    width: 90%;
    padding: 1rem;
  }

  .contact-social-links {
    display: none;
  }

  #form .dark-blue-button {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 460px) {
  .my-name-text {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 410px) {
  .profile__image {
    border-radius: 90%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    margin: 0 auto 3rem;
  }

  .sarahpic__container {
    margin-top: 2rem;
  }

  hr {
    width: 40%;
  }

  .submit-button {
    width: 100%;
  }

  .form-container {
    width: 100%;
    padding: 3rem 0rem;
  }

  #form {
    width: 100%;
  }
}
